<h1> Listings </h1>

<section>
    <% @listings.each do |listing| %>
        <%= link_to(listing_path(listing)) do %>
        
            <%= image_tag listing.unicorn.pic, :class => "pics" if listing.unicorn.pic.attached? %>
            <h2><%= listing.unicorn.name.capitalize %></h2>
            <h3>Price: <%= listing.buyout_price %></h3> 
            <button>Buy</button>
        <% end %>
    <% end %>
</section>
