<section>
    <% @unicorns.each do |unicorn| %>
        <%= link_to(unicorn) do %>
        
            <%= image_tag unicorn.pic, :class => "pics" if unicorn.pic.attached? %>
            <h2><%= unicorn.name.capitalize %></h2>
            <h3><%= unicorn.original_price %></h3> 
        
        <% end %>
    <% end %>
</section>