<section class="wrapper">

    <%= image_tag @unicorns.pic, :class => "unicorn" if @unicorns.pic.attached? %>
    <h2 class="name"><%= @unicorns.name.capitalize %></h2>
    <h3 class="price"><%= @unicorns.original_price %></h3> 


</section>