<main id="home">
<!-- VISIBLE SVG -->
<svg viewBox="0 0 1890 1260">
    
    <!-- DISTORTION IMAGE - clipped -->
    <image xlink:href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5946/kyoto.jpg" width="1890" x=0 height="1260" y=0 clip-path="url(#clip)" filter= "url(#distortion)"></image>
    
    <!-- TEXT - clipped -->
    <clipPath id="clip">
        <text x="50%" y ="50%" dominant-baseline="middle" text-anchor="middle">UNICORNUCOPIA</text>
    </clipPath>
    
</svg>

<!-- FILTERS -->
<svg>
    <filter id="distortion">
        <feTurbulence type="turbulence" baseFrequency="0.05" numOctaves="2" result="turbulence"/>
    <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="20" xChannelSelector="R" yChannelSelector="G"/>
    </filter>
</svg>
</main>

<div class="login"> 
    <%= link_to "I'm ready for my dreams to come true", unicorns_path %> 
</div> 

<% if current_user %>

    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<% else %>

    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>

<% end %> 