<h1> Confrim Payment </h1>


<h2>Description</h2>
<p>are yu sure you wat to \make this transactions?</p>

<button data-stripe="payment">
    pay now
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>