h1 {
    color: rgb(0, 0, 0), 
}

h2 {
    color: rgb(247, 29, 65);
}

h3 {
    color: rgb(32, 28, 28); 
}

.pics {
    width: 350px;
    height: 550px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrapper {

}

.unicorn {
   width: 100%

}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.price {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
}

