h1 {
    color:red, 
}

h2 {
    color: pink;
    text-decoration: none;
}

.links {
    text-decoration: none; 
}


.pics {
    width: 350px;
    height: 550px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

